body {
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: lightblue;
}

.container {
  background-color: #000000cc;
  padding: 50px;
  margin-top: 50px;
}
